.SideNavContainer {
  /* background-color: rgba(12, 35, 78, 0.98); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(16);
  border-radius: 15px;
}

.WrappedContainer {
  height: calc(93vh - 40px);
  padding-right: 40px;
  overflow-x: scroll;
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .WrappedContainer {
    height: calc(100vh - 20px);
  }
}
